<ion-view id="profile">
  <ion-content>
    <div class="top-padding">
      <h2 class="inline-title">Wuddup, SlacKing!</h2>
      <div class="difficulty"></div>
      <div class="difficulty"></div>
      <div class="difficulty"></div>
      <p>Los Angeles, CA</p>
      <p>Optional bio can go here. Bushwick vinyl letterpress, 90's bespoke chia godard iPhone seitan celiac vice flannel selvage.</p>
    <h2>My Lines</h2>
    </div>
    <div class="list">
      <div class="item item-icon-left">
        <i class="icon ion-ios-plus-empty"></i>
        <p>Add a line to collection</p>
      </div>
      <div class="item">
        <h2 class="inline-title">Gibbon Classic Line</h2>
        <a class="post button button-clear button-royal">
          Post!
        </a>
        <p>Single Ratchet 30' 2"</p>
      </div>
      <div class="item">
        <h2 class="inline-title">Gibbon Surf Line</h2>
        <a class="post button button-clear button-royal">
          Take Down
        </a>
        <p>Double Ratchet 50' 2"</p>
      </div>
    </div>
  </ion-content>
</ion-view>
