<ion-view id="login">
  <ion-content class="padding">
    <div class="content">
      <h1>Login</h1>
      <ion-list>
        <form ng-submit="LoginCtrl.login()">
        <label class="item item-input">
          <input ng-model="LoginCtrl.user.email" type="email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input ng-model="LoginCtrl.user.password" type="password" placeholder="Password">
        </label>
        <input type="submit" value="Login" class="button button-royal"></input>
        </form>
      </ion-list>
      <p>Don't have an account?<a ui-sref="signup">Sign Up!</a></p>
    </div>
  </ion-content>
</ion-view>
