<!-- <ion-tabs class="tabs-icon-only tabs-top tabs-color-active-positive">


  <ion-tab icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs> -->

<ion-header-bar class="bar-stable">
  <div class="buttons">
    <button class="button button-clear icon ion-ios-home"></button>
  </div>
  <h1 class="title">What's Slackin'?</h1>
  <div class="buttons">
    <button class="button button-clear icon ion-ios-person"></button>
  </div>
</ion-header-bar>
