<ion-view id="profile">
  <ion-content>
    <h2>Wuddup, SlacKing!</h2>
    <p class="inline-title">Proficient</p>
    <div class="difficulty"></div>
    <div class="difficulty"></div>
    <div class="difficulty"></div>
    <h2>My Lines</h2>
    <div class="list">
      <div class="item item-icon-left">
        <i class="icon ion-ios-plus-empty"></i>
        <p>Add a new line</p>
      </div>
      <div class="item">
        <h2 class="inline-title">Gibbon Classic Line</h2>
        <a class="right button button-clear button-royal">
          Post!
        </a>
        <p>Double Ratchet 50' 2"</p>
      </div>
    </div>
  </ion-content>
</ion-view>
